<a href="https://colab.research.google.com/github/YashBurman1/MiniProjects/blob/main/Sentient_Analysis_Using_TextBlob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **IMPORTING DATASET**

In [ ]:
import pandas as pd
import numpy as np 
from textblob import TextBlob

In [ ]:
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
 
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link = 'https://drive.google.com/drive/folders/1VGVs_WXO9b6jHOdOSCz43Pv4z4TGrj0E?usp=share_link'
 
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('ratings.csv') 
 
df_r = pd.read_csv('ratings.csv')
print(df_r)

         user_id  book_id  rating
0              1      258       5
1              2      260       5
2              2     9296       5
3              2     2318       3
4              2       33       4
...          ...      ...     ...
1066407    19902     9569       4
1066408    41259     2205       5
1066409    32572     7560       3
1066410    28325     9569       4
1066411    50229     8137       2

[1066412 rows x 3 columns]

In [ ]:
link = 'https://drive.google.com/file/d/10eTwWeGs7MJlmAnvC3s_4QuZWH_Tgwbj/view?usp=share_link'
 
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('book_tags.csv') 
 
df_bt = pd.read_csv('book_tags.csv')
print(df_bt)

        goodreads_book_id  tag_id  count
0                      11   30574  32303
1                      11    8717  11955
2                      11   26837  10977
3                      11   11557  10173
4                      11   26771   9773
...                   ...     ...    ...
145895           32848471   25861      7
145896           32848471   19037      7
145897           32848471   32783      7
145898           32848471   29242      7
145899           32848471   18795      6

[145900 rows x 3 columns]

In [ ]:
link = 'https://drive.google.com/file/d/17Qyhw82PoH0Sv9IZcwd30zcU_cxZVpYW/view?usp=share_link'
 
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('toread.csv') 
 
df_tr = pd.read_csv('toread.csv')
print(df_tr)

        user_id  book_id
0             9        8
1            37     7173
2            34      380
3            34     3581
4            70      498
...         ...      ...
238827    45870      744
238828    45870     1499
238829    42071     1952
238830    39374     1049
238831    48192     7773

[238832 rows x 2 columns]

In [ ]:
link = 'https://drive.google.com/file/d/17VwF74kAU9qPi6qgMY2VJjP85vo0AYvh/view?usp=share_link'
 
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('books.csv') 
 
df_b = pd.read_csv('books.csv')
print(df_b)

**Which book (title) has the most number of counts of tags given by the user ie. the book with maximum user records including all tags**

In [ ]:
pivot = df_bt.pivot_table(index = ['goodreads_book_id'],values = ['count'],aggfunc = 'sum')
print(pivot)

                    count
goodreads_book_id
11                 123121
21                  63242
33                 174336
249                  3147
250                  3791
...                   ...
31538614            29018
31538635            21375
31538647            28667
32075671            20178
32848471             1923

[1459 rows x 1 columns]

In [ ]:
pivot.query('count == count.max()')

                    count
goodreads_book_id
865                675971

In [ ]:
df = df_b.query('goodreads_book_id == 865')
df["title"]

11    The Alchemist
Name: title, dtype: object

**Which is the least used tag, i.e. mapped with the lowest number of books**

In [ ]:
pivot = df_bt.pivot_table(index = 'tag_id',values = 'goodreads_book_id', aggfunc = "count")
df = pivot.query("goodreads_book_id == goodreads_book_id.min()")
df

**How many unique users are present in the dataset**

In [ ]:
pivot = df_r.pivot_table(index = 'user_id', values = "book_id" , aggfunc= "count" )

In [ ]:
df = pivot.query('book_id == 1') 
df

         book_id
user_id
181            1
1666           1
2092           1
2448           1
2451           1
...          ...
52811          1
52865          1
53003          1
53091          1
53377          1

[371 rows x 1 columns]

**How many unique books are present in the dataset ? Evaluate based on the 'book_id'?How many unique books are present in the dataset ? Evaluate based on the 'book_id'?**

In [ ]:
pivot2 = df_b.pivot_table(index = "book_id", values = "average_rating", aggfunc = "mean" )
pivot2

         average_rating
book_id
4                  4.25
6                  4.26
8                  3.79
11                 4.26
13                 4.14
...                 ...
9955               3.95
9969               3.99
9982               4.18
9991               3.73
9992               4.12

[1459 rows x 1 columns]

**Which book (goodreads_book_id) is marked as to-read by most users**

In [ ]:
pivot = df_tr.pivot_table(index = "book_id",values = 'user_id',aggfunc = "count")
df = pivot.query("user_id == user_id.max()")
df

         user_id
book_id
47          2772

In [ ]:
df_b.query("book_id == 47")

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
15,47,19063,19063,878368,251,375831002,9.780376e+12,Markus Zusak,2005.0,The Book Thief,...,1159741,1287798,93611,17892,35360,135272,377218,722056,https://images.gr-assets.com/books/1390053681m...,https://images.gr-assets.com/books/1390053681s...

**Which book (title) has the maximum number of ratings**

In [ ]:
pivot = df_r.pivot_table(index = "book_id",values = "rating", aggfunc = "count")
df = pivot.query("rating == rating.max()")
df_b.query("book_id == 4")

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...

**Which book (title) has the minimum (average_rating) [books.csv], if more than 1 book have same average rating, sort the books by ['title'] in alphabetical order and use the first book in the sorted list?**

In [ ]:
df_b.query("average_rating == average_rating.min()")

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
1398,9523,19523454,19523454,25747377,47,385538030,9.780386e+12,Chuck Palahniuk,2014.0,Beautiful You,...,8507,10035,1612,1230,2150,3339,2240,1076,https://images.gr-assets.com/books/1399667103m...,https://images.gr-assets.com/books/1399667103s...

In [ ]:
df_b.query("average")

         average_rating
book_id
9523               2.98

***How many unique tags are there in the dataset ***

In [ ]:
pivot = df_bt.pivot_table(index = "tag_id",values = "count", aggfunc = "sum")
pivot

        count
tag_id
0           3
5           3
6           3
11          3
15          3
...       ...
34239      13
34240       4
34241      15
34245      16
34248    2486

[9033 rows x 1 columns]

**How many unique tags are there in the dataset **

In [ ]:
df_b.isnull().sum()

book_id                        0
goodreads_book_id              0
best_book_id                   0
work_id                        0
books_count                    0
isbn                         216
isbn13                       191
authors                        0
original_publication_year      3
original_title               110
title                          0
language_code                120
average_rating                 0
ratings_count                  0
work_ratings_count             0
work_text_reviews_count        0
ratings_1                      0
ratings_2                      0
ratings_3                      0
ratings_4                      0
ratings_5                      0
image_url                      0
small_image_url                0
dtype: int64

**Sentiment Anaysis Using TextBlob**

In [ ]:
c = 0
for i in df_b.index:
  title = str(df_b["original_title"][i])
  if title != np.NaN:
    if TextBlob(title).polarity > 0:
      c = c + 1
c

211